#certTitle{
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    min-width: 500px;
    margin: 30px 100px 15px;
}
#categoryTitle{
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    min-width: 500px;
    margin: 30px 100px 15px;

}
#searchTitle{
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    min-width: 500px;
	padding-right: 120px; 
	text-align: center;
	font-size: 20px;


}

#certTitle, #categoryTitle {
    font-weight: 600;
    min-width: 500px;
    margin: 0 auto;
    width: 800px;
}


#quizButton{
    color:white;
    border: 1px solid#31B7F4;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px auto;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: .75em;
    background-color: #31B7F4;
    left: 50%;
    position: relative;

}
#quizButton > a{
    color: white;
    text-decoration: none;
    padding: 5px;
}

#test{
	text-align: center;
}
.certs{
    position: relative;

    width: 80%;
    height: auto;
    background-color: white;
    border: solid 1px darkgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	align-content: center;

    border-radius: 25px;
    padding: 10px;
	font-family: Helvetica, sans-serif;
    font-weight: 300;
    /* min-width: 400px; */
    margin: 15px auto;
	
}

.titleContainer{
    margin: 5px auto;
}
.title{
    font-weight: 600;
    width: 75%;
}
p {
    text-align: left;
}
.source{
    margin: 0 0 -2px 20px;
	
}
.description{
    margin: 0px 20px;
}
.shareIcon{
    float:right;

    position: absolute;
    top: 15px;
    right: 65px;
}
.heartIcon{
    float: right;
    position: absolute;
    top: 15px;
    right: 40px;
}

.plusIcon{
    float: right;
    position: absolute;
    top: 15px;
    right: 95px;
    font-weight: 500;
}


.barsIcon{
    color: #31B7F4;
}
.barsIcon:hover{
    color: #31B7F4;
    position: relative;
    top: 1px;
    right: -1px;
}

.browseCertsBox{

margin-left: auto; 
 margin-right: auto; 

	font-family: Helvetica, sans-serif;
    font-weight: 600;
    min-width: 500px;
	border-collapse: collapse; 
 border-radius: 15px;


}
td, th {
  border: 1px solid transparent;
/*  text-align: left; */
  padding: 8px;
	color: red;
	text-align: left;
}
th{
color: white;
text-align: center;
font-size: 20px;
	

}
.fixBrowseBoarder{
	background-color: #343A40;
	width: 50%;
	border: 5px solid #343A40;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	margin-top: 20px;
	border-radius: 15px;
	margin-top: 20px;
		margin-bottom: 40px;

	box-shadow: 4px 8px 8px 5px rgba(0, 0, 0, 0.2);


}

tr:nth-child(even) {
  background-color: slate;
	font-family: Helvetica, sans-serif;
    font-weight: 600;
    min-width: 500px;
}
#top2, #top1, #top3, #top4, #top5, #top6, #top7, #top8, #top9, #top10, #top11, #top12, #top13, #top14, #top15{
    color: #31B7F4;
	font-family: Helvetica, sans-serif;
    font-weight: 600;
}
.goBackToMenu{
position: relative;
margin-left: 45%;

	color: #31B7F4;

}

.padLinks{
position: relative;
    margin: 0 0 -2px 20px;
}

a{
color: #31B7F4;


}
.examLink{
	color: #31B7F4;
	position: relative;
	padding: 21px;


}
