@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }


body{
    background-color: #e7e4e4;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    min-width: 500px;
}

.navbar{
    font-family: Helvetica, sans-serif;
}

.logoImg{
    width: 200px;
}



.navbar-right, .navbar-collapse{
    text-align: right;
    margin-left: auto;
}

/* banner */
#BannerContainer{
    position: relative;
    width: 100%;
    max-height: 400px;
    margin-bottom: 20px;
    overflow: hidden;
}

#HomeImage {
    width: 100%;
    height: 100%;
}

#bannerText{
    position: absolute;
    top: 100px;
    left: 15%;
    margin: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    color: white;
}

#overlay{
    position: absolute; 
    top: 0;
    background: rgba(0, 0, 0, 0.555);
    width: 100%;
    height: 400px;
}


/* cards */

.flex-container {
    display: flex;
    margin: 10px auto;
    padding: 20px;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }

.card{
    width: 225px;
    height: 300px;
    padding: 18px;
    margin: 10px 20px;
    /* border: 1px solid grey; */
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    border-radius: 25px;
    background-color: white;
    color: rgb(102, 100, 100);
    align-content: center;

}

#iconContainer:hover{
    position: relative;
    top: -5px;
    box-shadow: 5px 5px 5px darkgray;
}

.CardTitle {
    text-align: center;
    margin: 5px;
    font-weight: 400;
  
}


.fas {
    font-size: 2em;
    color: #31B7F4;
    margin: auto;
}

#iconContainer{
    display:block;
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    border-radius: 50%;
    margin: auto;
    align-content: center;
    text-align: center;
    line-height: 100px;
}

#startbtn,#learnbtn{
    color:white;
    border: 1px solid#31B7F4;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: .75em;
}

#CareerLearnButoon{
    color: white;
    border: 1px solid #31B7F4;
	background-color: transparent;
	width: auto;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: .75em;
	color: red;
}

#startbtn:hover, #learnbtn:hover{
    position: relative;
    bottom: -1px;
    right: -2px;
    box-shadow: 5px 5px 10px darkslategray;

}
#startbtn > a, #learnbtn > a{
    color: white;
    text-decoration: none;
    padding: 5px;
}


#startbtn{
    background-color: #31B7F4;
}

#learnbtn{
    background-color: transparent;
}


/*TICKETS and ISSUES
 - the logo needs to take you back to the home page 
 - when your on a page it is not highligted

*/








/* #BottomCards {
    width: 900px;
    height: 300px;
} */
/* 
#FindCertCard {
    width: 200px;
    height: 300px;
    float: left;
    padding: 18px;
    margin: 5px;
    border: 2px solid grey;
    border-radius: 25px;
}

#LearnCard {
    width: 200px;
    height: 300px;
    float: left;
    padding: 18px;
    margin: 5px;
    border: 2px solid grey;
    border-radius: 25px;
}

#ProgressCard {
    width: 200px;
    height: 300px;
    float: left;
    padding: 18px;
    margin: 5px;
    border: 2px solid grey;
    border-radius: 25px;
}

#CommunityCard {
    width: 200px;
    height: 300px;
    float: left;
    padding: 18px;
    margin: 5px;
    border: 2px solid grey;
    border-radius: 25px;
}
.group::after {
    content: "";
    clear: both;
    display: table;
} */