/* Style that first letter! */
.first-letter {
  font-size: 60px;
  line-height: 20px;
}

#myDIV {
    display: none;
}

.whyQuizDiv{
	padding-top: 8%;
	margin-left: auto;
	margin-right: auto;
}

p{
	text-align: center;
	font-family: Helvetica, sans-serif;
    font-weight: 300;
    min-width: 500px;
}

.whyTitle{
	font-size: 70px;


}
.container {
    display: block;
    max-width: 60%;
	background-color: white;
    margin: 50px auto;
    text-align: left;
   font-family: Helvetica, sans-serif;
    font-weight: 300;
	height: auto;
	 margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	position: relative;
	padding: 25px 15px 25px 30px;
	font-size: 20px;
}
.button-box{
	width: auto;
	margin: 50px auto;
    text-align:  center;
	 font-family: Helvetica, sans-serif;
    font-weight: 300;
	font-size: 20px;
}


button{
	width: 150px;
	height: 40px;
	margin: 0 10px;
	background: linear-gradient(to right, #AED6f1, #31B7F4);
	border-radius: 30px;
	 font-family: Helvetica, sans-serif;
    font-weight: 300;
	border: 0;
	outline: none;
	color: black;
	cursor: pointer;
	
}

input[type="submit"] {
    display: block;
    margin: 20px auto;
	font-family: Helvetica, sans-serif;
    font-weight: 300;
}

label {
	 -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
      user-select: none;
    display: block;
    position: relative;
    padding-left: 46px;   
	cursor: pointer;
}

label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.select {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    position: absolute;
	border-radius: 50%;
    background-color: lightgrey;
}
.selectCheck {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: lightgrey;
}
label:hover input~.select {
    background-color: #31B7f4;
}

label input:checked~.select {
    background-color: #31B7F4;
}
label:hover input~.selectCheck {
    background-color: #31B7f4;
}

label input:checked~.selectCheck {
    background-color: #31B7F4;
}

.select:after {
    content: "";
    position: absolute;
    display: none;
}
.selectCheck:after {
    content: "";
    position: absolute;
    display: none;
}


label input:checked~.select:after {
    display: block;
}
label input:checked~.selectCheck:after {
    display: block;
}
/*for the small circle in the middle*/
label .select:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 35%;
    background: white;
}
label .selectCheck:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    background: white;
}
.titleQuestion{
	text-align: left;
}

.holdSubmitRight{
padding-left: 38%;
	

}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #31B7F4;
  padding: 50%;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
	
  border-radius: 16px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  background: linear-gradient(to right, #AED6f1, #31B7F4);
}


input[type=text] {
  background-color: #31B7F4;
  background: transparent;
	margin-left:
  padding-left: 40px;
  border: none;
  border-bottom: 1px solid #000000;
}
input[type=text]:focus {
background: linear-gradient(to right, #AED6f1, #31B7F4);s
}